<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/1_Basics/16_Functions.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Functions

## What is a Function

### Notes

* A **function** is a block of code that only runs when it's called.
* You can pass data (called **parameters**) into a function.
* The function can return data as a result.

## Importance

Enable code reuse and modularization, important for complex data analysis and plotting routines.

In [4]:
print("Print is a special type of Python function")

Print is a special type of Python function

In [5]:
def my_function():
    print("What's up data nerds?")

In [6]:
my_function()

What's up data nerds?

## Types of Functions

| Type of Function             | Example Function              | Section            |
|------------------------------|-------------------------------|--------------------|
| Built-In functions           | `max()`                       | 1. Getting Started |
| User-defined functions       | `def my_function(): pass`     | 16. Functions      |
| Lambda functions             | `lambda x: x + 1`             | 17. Lambda         |
| Standard Library functions   | `math.sqrt()`                 | 18. Modules        |
| Third-Party Library Functions| `numpy.array()`               | 19. Library        |

Note: We won't be covering Generator, Asynchronous, or Recursive Functions as they are out of scope of Data Analytics

## Built-in Functions

Standard within python. We've already used a few:

* `print()`: Displays output.
* `type()`: Checks the data type of objects.
* `range()`: Generates a sequence of numbers, useful in loops.
* `len()`: Counts the number of elements in a data structure.

[Here are all the built-in functions in Python](https://docs.python.org/3/library/functions.html)

In [7]:
import types

# list the built-in functions
print([func for func in dir(__builtins__) if isinstance(getattr(__builtins__, func), types.BuiltinFunctionType)])

['__build_class__', '__import__', 'abs', 'all', 'any', 'ascii', 'bin', 'breakpoint', 'callable', 'chr', 'compile', 'delattr', 'dir', 'divmod', 'eval', 'exec', 'format', 'getattr', 'globals', 'hasattr', 'hash', 'hex', 'id', 'isinstance', 'issubclass', 'iter', 'len', 'locals', 'max', 'min', 'next', 'oct', 'open', 'ord', 'pow', 'print', 'repr', 'round', 'setattr', 'sorted', 'sum', 'vars']

Here are some that are useful for data analytics:

* `sum()`, `min()`, `max()`: Basic statistical operations.
* `sorted()`: Sorts data.

In [8]:
# Sum, Min, Max
data_scientist_salaries = [95000, 120000, 105000, 90000, 130000]
total_salary = sum(data_scientist_salaries)
min_salary = min(data_scientist_salaries)
max_salary = max(data_scientist_salaries)
print(f'Total Salary: ${total_salary}, Min: ${min_salary}, Max: ${max_salary}')

Total Salary: $540000, Min: $90000, Max: $130000

In [9]:
# Sorted
years_experience = [2, 5, 3, 4, 1]
sorted_experience = sorted(years_experience)
sorted_experience

[1, 2, 3, 4, 5]

## User-Defined Functions

These are created by the user with your name and syntax of choice: `calculate_something_special()`.

#### WARNING 
Do not name your function the same as standard Python objects.

For example, this is a bad idea:

```
def print(input):
    return "Hello" + input
```

In this case the built-in `print()` function would be overridden.

#### Creating a Function

##### Notes

* Use `def` to create a function.

##### Example

We're going to create a function called "my experience". Which returns an integer that represents the years of experience I have.

In [10]:
def my_experience():
    return 5

We can also set a default value for a function like `my_function(x='default_value', not_default)`.

### Calling a Function

#### Notes

* To call a funciton, use the funciton name followed by parenthesis: `function_name()`

ðŸª² **Debugging**

**These are intentional mistakes**

This is used to demonstrate debugging.

Error: Forgot the `()` after the function name. This won't return an error, but it won't call the function like we want.

```python
my_experience
```

Steps to Debug:

1. Look at the actual error, can you tell what the problem is?
2. If not, then look it up:
  1. Use a chatbot like ChatGPT or Claude
  2. Look it up using Google

In [11]:
my_experience

This is the correct code âœ….

In [12]:
my_experience()

5

### Pass

#### Notes

* `pass` is used as a placeholder within a function to indicate that the block is intentionally left empty, but may be filled in the future.
* It does nothing and is basically ignored by Python.

#### Example

In [13]:
def my_experience():
    pass

# Calling the function does nothing but is syntactically valid
my_experience()

### Return

#### Notes

* Have the function return a value or result of an expression use `return`.
* Exit a function at a certain point.
* It canb return multiple values using a tuple, list, or dictionary. 

#### Example

In [14]:
# Define a function that accepts a yearly bonus percentage
def my_function(yearly_bonus_percent):

  # Returns the bonus amount based on the salary times the yearly_bonus_percent
  return 70000 * yearly_bonus_percent

# Calling the function with a 5% bonus
my_function(0.05)

3500.0

### Arguments

#### Notes

* Information can be passed into functions as arguments.
* Arguments are specified after the function name, inside the parentheses.
* You can add all the arguments you want. You need to separate them with a comma.
* A function has to be called with the correct number of arguments. If your function has 2 arguments, you have to call the function with exactly 2 arguments.

Parameters and Arugments
* Parameters and arguments can be used for the smae thing. Information that's passed into a function.
  * Parameter is a variable listed inside the parentheses in the function definition.
  * Arugment is the value that's sent to the function when called .

#### Example # 1

In [15]:
# Create a function
def my_function(job_title):
    # Prints the job title
    print(f'The {job_title} has an average salary of $60,000.')

my_function('Data Analyst')

The Data Analyst has an average salary of $60,000.

You can also have multiple arguments. And the arguments can be different data types.

In [16]:
# Create a function that takes job_title and average_salary arguments 
def my_function(job_title, average_salary):
    # Prints the job_title and the average salary
    print(f'The {job_title} has an average salary of ${average_salary}.')

ðŸª² **Debugging**

**These are intentional mistakes**

This is used to demonstrate debugging.

Error: Forgot an argument.

```python
my_function(60000)
```

Steps to Debug:

1. Look at the actual error, can you tell what the problem is?
2. If not, then look it up:
  1. Use a chatbot like ChatGPT or Claude
  2. Look it up using Google

In [17]:
my_function(60000)

TypeError: my_function() missing 1 required positional argument: 'average_salary'

This is the correct code âœ….

In [18]:
my_function('Business Analyst', 60000)

The Business Analyst has an average salary of $60000.

Specifying arguments for a function.

```python
df.to_csv('/mnt/data/jobs_data.csv', index=False)
```

#### Example # 2

Make a function to calculate the total salary

In [19]:
# Calculate total_salary of base_salary * (1 + bonus_rate)
def calculate_salary(base_salary, bonus_rate):

  total_salary = base_salary * (1 + bonus_rate)

  return total_salary

In [20]:
salary_1 = 100000
rate_1 = 0.1

calculate_salary(salary_1, rate_1)

110000.00000000001

### Adding Keyword Arguments

#### Notes

* You can send arguments with *key = value* syntax
* Then the order of the arguments doesn't matter

In [21]:
# Calculate total_salary of base_salary * (1 + bonus_rate)
def calculate_salary(base_salary, bonus_rate=.1):

  total_salary = base_salary * (1 + bonus_rate)

  return total_salary

Using the keyword argument:

In [22]:
salary_1 = 100000

calculate_salary(salary_1, rate_1)

110000.00000000001

Overriding the default keyword argument:

In [23]:
salary_1 = 100000
rate_1 = 0.5

calculate_salary(salary_1, rate_1)

150000.0

#### Example # 2

In [24]:
def analyze_skills(skill1, salary1, skill2, salary2):
    """
    Print job titles with their corresponding average salaries using explicitly named parameters.

    :param skill1: The first job title or skill.
    :param salary1: The average salary for the first job title or skill.
    :param skill2: The second job title or skill.
    :param salary2: The average salary for the second job title or skill.
    """
    print('Job Title and Average Salary Analysis:')
    print(f'- {skill1}: ${salary1:,}')
    print(f'- {skill2}: ${salary2:,}')

# Calling the function with job titles and their average salaries as arguments
analyze_skills(skill1='Data Analyst', salary1=60000, skill2='Business Analyst', salary2=65000)

Job Title and Average Salary Analysis:
- Data Analyst: $60,000
- Business Analyst: $65,000

## Advanced Concepts (Not Convered In Video)

### Arbitrary Arguments (*Args)

#### Notes

* If you're not sure how many arguments will be passed into your function, add a `*` before the parameter name in the function definition.
* The function will now receive a tuple of arguments.
* Arbitrary Arguments are often called *args

#### Example

First we'll create a dictionary of job titles and their average salaries.

In [25]:
def analyze_skills(*args):
    """
    Print skills with their corresponding average salaries using positional arguments.

    Each argument is expected to be a tuple containing a job title or skill and its average salary.

    :param args: A sequence of tuples, where each tuple contains a job title or skill and its average salary.
    """
    print('Job Title and Average Salary Analysis:')
    for skill_salary_pair in args:
        skill, salary = skill_salary_pair
        print(f'- {skill}: ${salary:,}')

# Calling the function with tuples of job titles and their average salaries
analyze_skills(('Data Analyst', 60000), ('Business Analyst', 65000), ('Data Engineer', 90000))

Job Title and Average Salary Analysis:
- Data Analyst: $60,000
- Business Analyst: $65,000
- Data Engineer: $90,000

### Arbitrary Keyword Arguments (**Kwargs)

#### Notes

* If you don't know how many keyword arguments will be passed into the function, add two asterisk `**` before the parameter name in the function definition.
* This will have the function receive a dictionary of arguments.

#### Example

In [26]:
def analyze_skills(**skills_salaries):
    """
    Print skills with their corresponding average salaries using keyword arguments.

    :param skills_salaries: Keyword arguments where keys are skills or job titles, and values are average salaries.
    """
    print('Skill and Average Salary Analysis:')
    for skill, salary in skills_salaries.items():
        print(f'- {skill}: ${salary:,}')

# Calling the function with keyword arguments for skills and their average salaries
analyze_skills(Data_Analyst=60000, Business_Analyst=65000, Data_Engineer=90000)

Skill and Average Salary Analysis:
- Data_Analyst: $60,000
- Business_Analyst: $65,000
- Data_Engineer: $90,000