<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_22_NumPy.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Create NumPy Array (1.22.1)

In [ ]:
# Code Needed
import numpy as np
applications = np.array([10, 15, 7, 20, 25, 30, 5])

---

## ðŸŸ© Slicing Array (1.22.2)

In [ ]:
# Code Needed
import numpy as np
postings = np.array( [10, 15, 7, 20, 25, 30, 5])

---

## ðŸŸ¨ Highest and Lowest Salary (1.22.3)

In [ ]:
# Code Needed
import numpy as np
salaries = np.array([70000, 85000, 60000, 95000, 80000])

---